Source: pacman4console
Section: games
Priority: extra
Maintainer: Joao Eriberto Mota Filho <eriberto@eriberto.pro.br>
Build-Depends: debhelper (>= 5), libncurses5-dev, dpatch
Standards-Version: 3.7.2
XS-X-Vcs-Svn: svn://svn.debian.org/svn/debian-br-team/unstable/pacman4console

Package: pacman4console
Architecture: any
Depends: ${shlibs:Depends}
Description: a console based pacman game 
 This is a simple but very good pacman game. Also, its source code is very
 simple and well commented so it may be a good reference for learning ncurses
 and C programming.
 .
 Pacman4Console is an ASCII character based game. This game has nine levels.
 But you can make your own levels.
 .
 URL: http://freshmeat.net/projects/pacmanforconsole
