Source: pacman4console
Section: games
Priority: optional
Maintainer: Alexandre Dantas <eu@alexdantas.net>
Build-Depends: debhelper (>= 13~), libncurses5-dev
Standards-Version: 3.9.5
Vcs-Git: git://github.com/alexdantas/pacman4console.debian.git -b master
Vcs-Browser: https://github.com/alexdantas/pacman4console.debian
Homepage: https://sites.google.com/site/doctormike/pacman.html

Package: pacman4console
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ncurses-based pacman game
 Pacman4Console is a simple pacman game for the terminal.
 It is played on the command-line, with ASCII character graphics.
 .
 It has nine levels by default, and you can make your own with
 its own level editor.
